body {
  background-color: #000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans Display', sans-serif;
  scroll-behavior: smooth;
}

body {
  font-family: sans-serif;
  /* width: 90%; */
  margin: auto;
  overflow-x: hidden;
}